.about-section {
    padding: 8em 0;

    background-image: url('../images/custom-plan-wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: darkblue;
}

.about-div {
    max-width: 630px;
    z-index: 10;
    padding: 10px;
    color: #001845;
}


.about-h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.about-p {
    color: rgb(232, 232, 232);
    line-height: 1.5rem;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    font-weight: bold;
}

.custom-shape-divider-top-1683665429 {
    position: absolute;
    top: -1px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1683665429 svg {
    width: calc(116% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1683665429 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1683666615 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683666615 svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 73px;
}

.custom-shape-divider-bottom-1683666615 .shape-fill {
    fill: #FFFFFF;
}