.custom-plan-section {
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-image: url('../images/custom-plan-wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.custom-div {
    display: flex;
    flex-wrap: wrap;
    background: none;
    max-width: 1000px;
    padding: 15px 40px;
    border-radius: 100px;
    color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}


.custom-p {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    line-height: 2.5rem;
    font-size: clamp(1.6rem, 3vw, 1.7rem);
    margin-right: 10px;
    width: 100%;
    text-align: center;

}

#custom-btn {
    margin: auto auto;
    margin-top: 20px;
}